layout: index
---
.member-wrap
    .member
        #avatar-ben.member-img
        .member-social
            a.member-twitter-link(href='https://twitter.com/dreamerslab')
            a.member-github-link(href='https://github.com/ben-lin')
            a.member-blog-link(href='http://benlin.me/')
        strong.member-name Ben Lin
        strong.member-tagline Co-founder & CEO
        p.member-desc has been doing startups for 5 years among several websites and apps. He is good at **web frontend and backend development**.
.member-wrap
    .member
        #avatar-jonathan.member-img
        .member-social
            a.member-twitter-link(href='https://twitter.com/jonakyd')
            a.member-github-link(href='https://github.com/jonakyd')
        strong.member-name Jonathan Dang
        strong.member-tagline Web developer
        p.member-desc joined WOOMOO since **Mar 2013** as a **web frontend developer**. He used to work with Shao at jiepang.com.
.member-wrap
    .member
        #avatar-carlos.member-img
        .member-social
            a.member-twitter-link(href='https://twitter.com/morita7453')
            a.member-dribbble-link(href='http://dribbble.com/morita7453' target="_blank")
        strong.member-name Carlos Liu
        strong.member-tagline Designer
        p.member-desc joined WOOMOO since **Mar 2013** as an **UI/UX designer**. He used to work with Shao at jiepang.com and has more than **10 years experience in design**.
.member-wrap
    .member
        #avatar-ray.member-img
        .member-social
            a.member-twitter-link(href='https://twitter.com/rayshih771012')
            a.member-github-link(href='https://github.com/rayshih')
        strong.member-name Ray Shih
        strong.member-tagline Web developer
        p.member-desc joined WOOMOO since **Jun 2013** as an intern **web backend developer**. He started to code since 12 and is good at **web frontend, backend and iOS development**.
.member-wrap
    .member
        #avatar-200.member-img
        .member-social
            a.member-twitter-link(href='https://twitter.com/pH_minamo')
            a.member-github-link(href='https://github.com/pH-minamo')
        strong.member-name Ting-Yu Lin
        strong.member-tagline Windows developer
        p.member-desc joined WOOMOO since **Aug 2013** as a **Windows developer**. He previously worked as a **freelancer** in programming. He is good at **web frontend, backend and Windows development**.
.member-wrap
    .member
        #avatar-rick.member-img
        .member-social
            a.member-twitter-link(href='https://twitter.com/rick711003')
            a.member-github-link(href='https://github.com/rick711003')
        strong.member-name Rick Chen
        strong.member-tagline iOS developer
        p.member-desc joined WOOMOO since **Sep 2013** as an **iOS developer**. He has more than **10 years programming experience** in various agencies.
.member-wrap
    .member
        #avatar-lei.member-img
        .member-social
            a.member-twitter-link(href='https://twitter.com/leilei0920')
        strong.member-name Lei Lei Wu
        strong.member-tagline Community
        p.member-desc joined WOOMOO since **Sep 2013** as a **community manager**. She has 6 years of off line business development experience.
.member-wrap
    .member
        #avatar-jason.member-img
        .member-social
            a.member-twitter-link(href='https://twitter.com/jason1peng')
            a.member-github-link(href='https://github.com/jason1peng')
        strong.member-name Jason Peng
        strong.member-tagline Android developer
        p.member-desc joined WOOMOO since **Oct 2013** as an **Android developer**. He previously worked at **Asus** and various startups. He has more than **10 years experience in programming**.
.member-wrap
    .member
        #avatar-gary.member-img
        .member-social
            a.member-twitter-link(href='https://twitter.com/CurryYeap')
            a.member-github-link(href='https://github.com/garyyeap')
        strong.member-name Gary Yeap
        strong.member-tagline Web developer
        p.member-desc joined WOOMOO since **Jul 2014** as **web front end developer**. He has experiences working on 16 different projects during his study and recently just completed his bachelor degree at Yuan Ze University focusing on Information System Technology and decided to stay in Taiwan.
.member-wrap
    .member
        #avatar-tommy.member-img
        .member-social
            a.member-twitter-link(href='https://twitter.com/tommy351')
            a.member-github-link(href='https://github.com/tommy351')
        strong.member-name Tommy Chen
        strong.member-tagline Intern
        p.member-desc started his internship in WOOMOO since **Feb 2014**. He currently studies at TKU and he is also the creator of the famous static site framework [Hexo](http://zespia.tw/hexo/).
.member-wrap
    .member
        #avatar-tt.member-img
        .member-social
            a.member-instagram-link(href='http://instagram.com/woomoocats')
        strong.member-name TT
        strong.member-tagline Office manager
        p.member-desc was adopted in **Jun 2012** as a **mascot** of WOOMOO. Her role is to comfort the team with her hairy and fat belly.
.member-wrap
    .member
        #avatar-jj.member-img
        .member-social
            a.member-instagram-link(href='http://instagram.com/woomoocats')
        strong.member-name JJ
        strong.member-tagline Office manager
        p.member-desc came together with TT. She is a little smaller but naughtier. She loves to **help us coding** although her codes usually do not make sense.
